@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$serif      : Georgia, Times, serif;
$sans-serif : "Noto Sans JP", "Hiragino Kaku Gothic Pro", "BIZ UDPGothic", "Meiryo", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : "JetBrains Mono", Monaco, Consolas, "Lucida Console", monospace;